.example-full-width {
    width: 80%;
  }

.marg{
    margin-right: 100px;
    margin-bottom: 10px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  .basic-container {
    padding: 30px;
  }
  .version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
  }

  