.example-container{
    position: absolute;
    top: 9%;
    bottom: 0px;
    left: 0;
    right: 0;

  }
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  .example-sidenav .mat-button{
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .example-sidenav .logo-wrapper{
    width: 100px;
    height: 100px;
    margin: 5px 10px 10px 100px;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sdnav{
    background-color: #DCDCDC;

  }
  .uesr{
    flex: 1 1 auto;
  }
  .fill-space {
    flex: 1 1 auto;
  }
  .mat-button{
    width: 100%;
  }



 