<mat-toolbar>Gestion Opérateurs</mat-toolbar>
<div class="main_div" >

<mat-accordion >
    <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
<div *ngFor='let element of dataSource '>
<mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
<mat-expansion-panel-header>
    <table> 
        <tr>
          <td>
            <mat-panel-title >
                {{element.cin}}
            </mat-panel-title>
          </td>
          <td>
            <mat-panel-title >
                {{element.nom +" "+element.prenom}}
            </mat-panel-title>
          </td>
          <td>
            <mat-panel-description >
                {{element.datenaissance}}
            </mat-panel-description>
          </td>
        </tr>
      </table>

<mat-panel-description >
    
</mat-panel-description>

</mat-expansion-panel-header>
<mat-list>
        <mat-list-item>Nom :  {{element.nom}} </mat-list-item>
        <mat-list-item>Prenom :  {{element.prenom}} </mat-list-item>
        <mat-list-item>CIN :  {{element.cin}} </mat-list-item>
        <mat-list-item>Date de naissance :  {{element.datenaissance}} </mat-list-item>
        <mat-list-item>Ville :  {{element.ville}} </mat-list-item>
        <mat-list-item>Tél :  {{element.Tel}} </mat-list-item>
        <mat-list-item>Email :  {{element.email}} </mat-list-item>
    </mat-list>
    <button mat-icon-button (click)="onEdit(element)"><mat-icon>launch</mat-icon></button>
    <button mat-icon-button (click)="onDelete(element.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
</mat-expansion-panel>
</div>
</mat-accordion>
</div>