.main-card{

  margin-top: 16px;
  width: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: #DCDCDC;
  }
  
   .example-container .mat-form-field + .mat-form-field {
    margin-left: 12px;
    
  }

  .divv{

    border-top-style: solid;
    border-width: 3px;
    border-color: #DCDCDC;
  }
  
  .fill-space {
    flex: 1 1 auto;
  }
  .txt{
    font-weight: bold; 
  }
  .content{
    margin-top: 8px;
  }